.img-wrapper img {
  width: 1500px;
  margin-top: -150px;
  
}
.support
{
  margin-top: -40px;
}
.img-iphoneten img {
  width: 200px;
  margin-top: -40px;;
}

.icon{
  margin-top: 10px;
}
.tag
{
  color: red;
}

.name
{
  color: teal;
  border: 1px;
  right: 10px;
  margin-top: -10px;
}
.nc
{
  color:black;
}
.cart{
  position: absolute;

  /* margin-top: 10px;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    margin-left: 1080px;
    color: red;   */
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn-wrapper button {
  background-color: red;
  margin-top: 10%;
  right: 0px;
  margin: 5%;
  left: 5%;
  margin-top: -100px;
  margin-left: px;
  border: 0px;
  padding: 5px;
  border-radius: 4px;
  color: #fff;
  box-shadow: #333 0px 1px 5px;
}
.cart-wrapper{
  height: 100px;
    width: 500px;
    border: 1px solid #ccc;
    margin-left: 10%;
}
.item {
  display: inline-block;
  width: 120px;
  padding: 20px;
  height: 70px;
}
.add-to-cart img{
  width: 80px;
    position: absolute;
    right: 1%;
    top: 10%;
}
.cart-count{
  
     position: absolute;
    right: 22px;
    top: 90px;
    z-index: 2; 
    background-color: red;
    padding: 1px;
    width: 22px;
    height: 23px;
    border-radius: 9%;
    color: #fff;
}

.mobile-world{
  color: blueviolet;
}

/* .iphone
{
  margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    background-color: var(--bs-body-bg);
    /* -webkit-text-size-adjust: 100%; 
    size: 200px;
    -webkit-tap-highlight-color: transparent;
} */

